*{
	margin:0px;
}
body{	
	padding: 20px;
	
	border:1px solid #999;
}

div#bodyWrapper{
	background: #eee;
	padding: 20px;
	border:1px solid #999;
	overflow: auto;
}

div#leftContent{
	float: left;
	width: 160px;
	height: 80px;
	background: white;
	border:1px solid #999;
	padding: 20px;
}

div#rightContent{
	float: right;
	width: 80px;
	height: auto;
	background: white;
	border:1px solid #999;
	text-align: center;
	padding: 20px;
}

div.rightLogo{
	height: 80px;
	width: 80px;
	margin-bottom: 20px;
	border:1px solid #999;
}

div#centerContent{
	margin-left: 220px;
	margin-right: 140px;
	height: auto;
	border:1px solid #999;
	background: white;
	padding: 20px;
}

div.leftLogo{
	height: 80px;
	width: 80px;
	border:1px solid #999;
	float: left;
}

div.leftTitle{
	float: right;
	font-family: "黑体";
	font-weight: bold;
}

div#contentTitle{
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 8px;
}

div#mainContent p{
	line-height: 24px;
	text-indent: 2em;
	font-size: 14px;
}