*{
	padding: 0px;
	margin:0px;
}

div#centerContent{
	margin: auto;
	height: 200px;
	width: 400px;
	position: absolute;
	background: #CCC;
	top: 0px;
	bottom:0px;
	left:0px;
	right:0px;
	overflow: hidden;
}

div.circle {
    width: 100px;
    height: 100px;
    background: #FC0;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    z-index: 1;
}

div.leftTop{
	position: absolute;
	top: -50px;
	left: -50px;
}

div.rightBottom{
	position: absolute;
	bottom: -50px;
	right: -50px;
}